.bg-primary{
    background-color: #3b6c76 !important;
}

.border-none{
    border: none !important;
}

.line{
    position: absolute;
    height: 100%;
    border-left: 1px solid #ffffff;
    left: 50%;
}

.book{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7em;
    height: 80%;
}

.pdf-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 80%;
}

.pdf-icon{
    font-size: 7em;
    height: 80%;
}

.footer{
    position: sticky;
    position: -webkit-sticky;
    bottom: 0;
    width: 100%;
}